:root{
    --nav-height:50px;
}

nav{
    width:100%;
    height: var(--nav-height);
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    background-color: orangered;
    position: fixed;
    top:0;
    left:0;
    color:white;
}
section{
    padding:5px;
    margin-top: var(--nav-height);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

