
:host{
    text-align: center;
}
ul{
    padding:1rem;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:1rem;
    text-align: left;
}
.subtitle{
    padding:5px;
    margin-top:5px;
    background:grey;
    color:white;
    text-transform: uppercase;
}